<h1 align="center" style="color:#96d9f0;">Computational Intelligence for
Optimization - Project</h1>
<h3 align="center" style="color:#96d9f0;">Group AW - Wedding Seating Optimization</h3>

---

### <span style="color:#96d9f0;">Group Members</span>

<table>
  <thead style="color:#96d9f0;">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Student ID</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Afonso Dias</td>
      <td>20211540@novaims.unl.pt</td>
      <td>20211540</td>
    </tr>
    <tr>
      <td>Isabel Duarte</td>
      <td>20240545@novaims.unl.pt</td>
      <td>20240545</td>
    </tr>
    <tr>
      <td>Pedro Campino</td>
      <td>20240537@novaims.unl.pt</td>
      <td>20240537</td>
    </tr>
    <tr>
      <td>Rita Matos</td>
      <td>20211642@novaims.unl.pt</td>
      <td>20211642</td>
    </tr>
  </tbody>
</table>

In [1]:
import sys
sys.path.append('..')

In [2]:
import random
from copy import deepcopy
from library.solution import Solution
import csv
import os
import pandas as pd

In [ ]:
#future improvements: test random fitnesses to set a baseline average to compare our results

In [3]:
#No swap mutation within the same table

In [17]:
# Import csv
import csv
import os
import pandas as pd

relationship_matrix = pd.read_csv('data/seating_data.csv')
relationship_matrix.drop(columns='idx', inplace=True)
relationship_matrix

,1,2,3,4,5,6,7,8,9,10,...,55,56,57,58,59,60,61,62,63,64
0,0,5000,0,0,700,700,0,0,0,0,...,100,100,0,0,100,100,100,0,0,0
1,5000,0,700,700,0,0,300,300,500,500,...,100,100,0,100,0,0,0,0,0,0
2,0,700,0,2000,0,0,0,0,300,300,...,0,0,0,0,0,0,0,0,0,0
3,0,700,2000,0,0,0,900,400,300,300,...,0,0,0,0,0,0,0,0,0,0
4,700,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,100,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
60,100,0,0,0,0,0,0,0,0,0,...,0,0,0,0,100,0,0,2000,700,700
61,0,0,0,0,0,0,0,0,0,0,...,0,0,-1000,0,100,0,2000,0,700,700
62,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,700,700,0,900
63,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,700,700,900,0

In [40]:
class WSSolution(Solution):
    def __init__(self, repr=None, relationship_matrix=relationship_matrix, nr_of_tables=8):
        self.relationship_matrix = relationship_matrix
        self.nr_of_tables = nr_of_tables
        self.table_capacity = len(relationship_matrix) // nr_of_tables
        super().__init__(repr=repr)

    def random_initial_representation(self):
        tables = []
        left_idxs = [idx for idx in range(len(self.relationship_matrix))]
        for i in range(self.nr_of_tables):
            tables.append([])
            for j in range(self.table_capacity):
                idx = random.choice(left_idxs)
                left_idxs.remove(idx)
                # Check if idx is already in a table
                while any(idx in table for table in tables):
                    idx = random.randint(0, len(self.relationship_matrix) - 1)
                tables[i].append(idx)
        
        return tables
    
    def fitness(self):
        total_happiness = 0
        for i in range(len(self.repr)):
            table_happiness = 0

            # Calculate happiness for each table    
            for j in range(len(self.repr[i])-1):
                table_happiness += self.relationship_matrix.iloc[self.repr[i][j], self.repr[i][j + 1]]
            print(f"Table {i+1}: Fitness: {table_happiness}")
            total_happiness += table_happiness
            
        return total_happiness

In [41]:
solution = WSSolution()

print('Random solution:', solution)
print('Total Fitness:', solution.fitness())

Random solution: [[17, 48, 63, 16, 23, 58, 3, 57], [31, 42, 44, 27, 11, 38, 15, 7], [52, 47, 30, 10, 28, 39, 13, 36], [35, 1, 20, 5, 62, 41, 21, 19], [61, 9, 26, 40, 49, 33, 53, 25], [29, 0, 43, 18, 56, 24, 51, 46], [6, 4, 2, 14, 55, 34, 59, 45], [8, 12, 50, 54, 60, 22, 37, 32]]
Table 1: Fitness: 300
Table 2: Fitness: 0
Table 3: Fitness: 0
Table 4: Fitness: 500
Table 5: Fitness: 0
Table 6: Fitness: 200
Table 7: Fitness: 300
Table 8: Fitness: 0
Total Fitness: 1300